body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

.navbar {
  padding: 10px;
  text-align: center;
  background: #f7f7f7;
}

.navbar h1 {
  font-size: 42px;
}

.nav-links button {
  width: 50%;
  border: 1px solid;
  padding: 10px;
  cursor: pointer;
  background: #f7f7f7;
  color: #5c5c5c;
  border: none;
  font-size: 24px;
}

.nav-links {
  display: grid;
  opacity: 1;
  max-height: auto;
  grid-template-columns: 1fr;
  transition: 0.5s;
}

.scan-img {
  width: 250px;
}

.card {
  width: 40%;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  grid-column: 2;
}

.card label {
  margin-right: 10px;
}

.card form > * {
  font-weight: bold;
  margin-top: 15px;
}

.card-grid {
  width: 40%;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  grid-column: 2;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.primary {
  cursor: pointer;
  background: rgb(0, 77, 165);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.secondary {
  cursor: pointer;
  background: rgb(2, 107, 72);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.danger {
  cursor: pointer;
  background: rgb(153, 2, 2);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.searchbox {
  text-align: center;
  width: 30%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 7px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.searchbox input {
  margin-right: 10px;
}

.hidden {
  max-height: 0px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear, max-height 0.15s ease-out;
}

.menu-selected svg {
  color: rgb(80, 2, 2);
}