body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

.navbar {
  display: grid;
  align-items: center;
  text-align: center;
  background: #8cc4a9;
  border-bottom: 2px solid #23774d;
  border-left: 2px solid #23774d;
  border-right: 2px solid #23774d;
  border-radius: 10px;
  /* max-height: 105px; */
}

.navbar h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 42px;
  color: black;
}

.logo {
  width: 200px;
  padding: 20px;
}

a {
  text-decoration: none;
}

.scan-img {
  margin-top: 10px;
  width: 100px;
}

.card {
  width: 40%;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  grid-column: 2;
}

.big-card {
  width: 65%;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.big-card2 {
  width: 65%;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  border: 2px solid #23774d;
  padding: 30px;
  /* border-right: 6px solid #cccccc; */
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  max-height: 425px;
}

.card-2 {
  width: 80%;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  border: 1px solid #e6e6e6;
  /* border: 1px solid; */
  /* box-shadow: 0px 2px 4px rgba(0,0,0,0.2); */
  /* text-align: center; */
}

.card label {
  margin-right: 10px;
}

.card form > * {
  font-weight: bold;
  margin-top: 15px;
}

.card-grid {
  width: 40%;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  grid-column: 2;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.card-grid-2 {
  width: 40%;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  display: grid;
  grid-template-columns: repeat(auto, 1fr);
  align-items: center;
  justify-content: center;
}

.primary {
  cursor: pointer;
  background: rgb(0, 77, 165);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.sidebar-btn {
  cursor: pointer;
  background: #bcf0d7;
  padding: 10px;
  /* border: 1px solid #0b3521; */
  border: none;
  border-radius: 5px;
  color: #0b3521;
}

.secondary {
  cursor: pointer;
  background: rgb(2, 107, 72);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.danger {
  cursor: pointer;
  background: rgb(153, 2, 2);
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.danger-txt {
  color: rgb(153, 2, 2);
}

.searchbox {
  text-align: center;
  width: 30%;
  margin: 10px auto;
  background: #fff;
  padding: 20px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 7px;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.2);
}

.searchbox input {
  margin-right: 10px;
}

.hidden {
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear, max-height 0.15s ease-out;
}

.menu-selected svg {
  color: rgb(80, 2, 2);
}

.invoice {
  font-size: 14px;
  width: 85%;
  margin: auto;
}

.invoice-header {
  font-size: 10px;
  display: grid;
  grid-template-columns: 3fr 5fr;
  align-items: center;
  margin-bottom: 5px;
}

.right-header {
  font-size: 16px;
  justify-self: center;
  align-self: end;
  margin-left: 80px;
}

.papaya {
  width: 60%;
  margin-bottom: 5px;
}

.aside {
  margin-top: 42px;
  font-size: 10px;
  font-style: italic;
}

.letter-bottom {
  background: black;
  color: white;
  text-align: center;
  font-weight: bolder;
  width: 30%;
  margin: auto;
}

.success {
  color: green;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.home-wrapper {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}

.scroll {
  max-height: 350px;
  overflow-y: auto;
}

.centered {
  text-align: center;
}

.column2 {
  grid-column: 2;
  width: 115%;
  margin: 10px auto;
  background: #fff;
  border-radius: 6px;
  padding: 30px;
  border: 2px solid #23774d;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  max-height: 425px;
  overflow-y: auto;
}

.column3 {
  grid-column: 3;
  display: grid;
  width: 60px;
  margin: 10px auto;
  margin-right: 50px;
  background: #bcf0d7;
  border-radius: 6px;
  padding: 30px;
  border: 2px solid #23774d;
  max-height: 425px;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1500px) {
  .card, .card-grid, .searchbox {
    width: 70%;
  }

  .home-wrapper {
    display: block;
  }

  .big-card, .column2, .column3 {
    width: 65%;
  }

  .container-grid {
    grid-template-columns: 1fr;
  }

  .column3 {
    width: 60px;
    position: fixed;
    top: 300px;
    right: 0px;
    margin: 0;
  }
  
  .card-grid {
    display: block;
  }
}